/*---------------------------------------------------------
 Flat Page (single-rentiflat_flat.php)
-------------------------------------------------------- */

#flat-photos {
  @include floatfix;

  max-width: 935px;
  margin: 0 auto;

  .main-photo {
    padding-right: 0;
    float: left;
  }

  .other-photos {
    float: left;
    width: 120px;
    margin-left: 5px;

    img {
      margin-bottom: 15px;
      float: right;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:after {
      clear: both;
    }
  }
}

#main-info {
  padding-bottom: 60px;
  padding-top: 20px;

  .title {
    .address {
      color: $gray;
      padding-left: 4px;
    }
  }

  .price-info {
    background-color: $primary-color;
    color: $white;
    float: left;
    width: 120px;
    padding: 15px;
    text-align: center;

    .price {
      font-size: 24px;
    }

    .interval {
      padding-top: 7px;
      text-transform: uppercase;
      font-size: 13px;
      color: $white-gray;
    }
  }

  .features {
    padding-top: 30px;
    padding-left: 20px;

    .feature {
      @extend .circle-icon-hover;
      position: relative;
    }

    .text {
      margin-left: 45px;
      font-size: 18px;
      margin-top: 12px;
    }
  }

  .flat-owner {
    text-align: center;

    .name {
      padding-top: 15px;
      font-size: 16px;

      i {
        font-size: 14px;
      }
    }
  }
}

#more-info {
  padding: 60px 0;

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .features {
    margin-top: 30px;
  }
}

#location-map {
  height: 350px;
  background-color: grey;
}

#bids {
  padding: 60px 0;
}