/*---------------------------------------------------------
 Flat Page (single-rentiflat_flat.php)
-------------------------------------------------------- */

#flat-photos {
  @include floatfix;

  text-align: center;

  .main-photo {
    padding-right: 0;
    display: inline-block;
  }

  .other-photos {
    display: inline-block;
    width: 120px;
    margin-left: 5px;

    img {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:after {
      clear: both;
    }
  }
}

#main-info {
  padding-bottom: 60px;
  padding-top: 20px;

  .title {
    .address {
      color: $gray;
      padding-left: 4px;
    }
  }

  .price-info {
    background-color: $primary-color;
    color: $white;
    float: left;
    width: 120px;
    padding: 15px;
    text-align: center;

    .price {
      font-size: 24px;
    }

    .interval {
      padding-top: 7px;
      text-transform: uppercase;
      font-size: 13px;
      color: $white-gray;
    }
  }

  .features {
    padding-top: 30px;
    padding-left: 20px;

    .feature {
      @extend .circle-icon-hover;
      position: relative;
    }

    .text {
      margin-left: 45px;
      font-size: 18px;
      margin-top: 12px;
    }
  }

  .flat-owner {
    text-align: center;

    .name {
      padding-top: 15px;
      font-size: 16px;

      i {
        font-size: 14px;
      }
    }
  }
}

#more-info {
  padding: 60px 0;

  .container {
    max-width: 800px;
    margin: 0 auto;
  }

  .description {
  }

  .features {
    @include floatfix;
    
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
  }

  .feature {
    float: left;
    margin-right: 58px;

    &:last-child {
      margin-right: 0;
    }

    i {
      margin-left: 10px;

      &.mdi-navigation-check {
        color: $green;
      }

      &.mdi-navigation-close {
        color: $red;
      }
    }
    .name {
      text-transform: uppercase;
      font-size: 18px;
      float: left;

    }

    .floor-num {
      font-size: 18px;
      margin-left: 10px;
      color: $primary-color;
    }
  }
}

#location-map {
  height: 350px;
  background-color: grey;
}

#bids {
  padding: 60px 0;

  .tenant {
    float: left;
    margin-right: 40px;
    .name {
      margin-top: 15px;
      text-align: center;
    }
  }

  .form-group {
    margin-bottom: 30px;
  }

  .bids-list {
    h3 {
      margin-top: 0;
    }
  }

  .bid {
    @include floatfix;
    margin-top: 30px;

    .picture {
      float: left;
    }

    .info {
      float: left;
      width: 45%;
      margin-left: 30px;

      .title {
        font-weight: bold;
        color: $gray-800;
        margin-bottom: 5px;
        margin-top: 12px;
      }

    }

    .price-info {
      float: right;
      background-color: #3f51b5;
      width: 120px;
      padding: 22px;
      text-align: center;
      color: #fff;
      margin-top: 13px;
    }

    .price {
      font-size: 20px;
    }

    .date {
      padding-top: 10px;
      font-size: 15px;
      color: $white-gray;
    }
  }

}