/*---------------------------------------------------------
 Landing Page (index.php)
-------------------------------------------------------- */

.features-overview {
  padding-bottom: 100px;
  padding-top: 190px;
}

.main-features {
  .feature {
    text-align: center;
    margin-bottom: 30px;
    padding: 0 30px;

    i {
      font-size: 36px;
      color: $primary-color;
      width: 80px;
      height: 80px;
      display: inline-block;
      border: 1px solid $primary-color;
      text-align: center;
      border-radius: 50%;
      padding-top: 20px;
      transition: all 0.2s;
    }

    h3 {
      font-size: 24px;
      color: $gray-800;
      text-transform: uppercase;
      font-weight: 100;
      margin-bottom: 30px;
    }

    &:hover {
      i {
        background: $primary-color;
        color: $white;
      }
    }
  }
}

#features {
  .feature {
    padding: 100px 0 80px;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .heading {
      padding-right: 60px;

      &:after {
        background: $primary-color;
      }
    }

    .feature-block {
      position: relative;
      padding-left: 80px;
      margin-bottom: 50px;
      padding-right: 60px;

      i {
        width: 50px;
        height: 50px;
        border: 1px solid $primary-color;
        display: inline-block;
        text-align: center;
        font-size: 24px;
        padding-top: 12px;
        position: absolute;
        left: 0;
        top: 0;
        color: $primary-color;
        border-radius: 50%;
        transition: all 0.2s;
      }

      h3 {
        font-size: 21px;
        color: $primary-color;
        font-weight: 300;
        margin-top: 0;
      }

      &:hover {
        i {
          background: $primary-color;
          color: $white;
        }
      }

    }
  }
}

.latest-flats {
  padding: 100px 0 60px;
  position: relative;
  text-align: center;
}
